*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container{
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

}

.search-input{
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 16px;
}

.button{
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;

}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

ul ol{
  list-style: none;
}

.slider{
  padding: 50px 20px;
}

.slider h2{
  font-size: 24px;
  margin-bottom: 10px;
}

.main-container{
display: flex;
gap: 15px;
overflow-x: auto;
padding: 40px;
scrollbar-width: none;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.row{
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;

}

.card{
  width: 200px;
  background-color: #222;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card:hover{
  transform: scale(1.05);
}

.poster{
  width: 100%;
  height: auto;
  display: block;
}

.card-content{
  padding: 10px;
  text-align: center;
}

.title{
  font-size: 1.2rem;
  margin: 5px 0;
}

.original-title{
  font-size: 0.9rem;
  color: #bbb;
}

.language{
  margin: 5px 0;
}

.rating{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
}

.stars{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 5px;
}

.star-icon{
  color: gold;
  font-size: 1rem;
}